<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>

<div class="container">

    <!-- LOGIN CARD -->
    <div class="login-card">
        <h2>Welcome Back 👋</h2>

        <p>Find your dream job easily</p>

        <!-- GOOGLE BUTTON -->
        <a href="/google-login">
            <button class="google-btn">Continue with Google</button>
        </a>

        <div class="divider">OR</div>

        <!-- EMAIL LOGIN -->
        <form method="POST">
            <input type="email" name="email" placeholder="Enter Email" required>

            <button type="submit" class="login-btn">Login</button>
        </form>

    </div>

</div>

</body>
</html>